ul {
	list-style: none;
	position: relative;
	display: block;
	padding: 0px;
	margin: 0px;
}
 ul li > ul li {
	visibility: hidden;
	position: relative;
	display:inline-block;
}
ul li:hover > ul li {
	display: block;
	visibility: visible;
}